@{
    ViewData["Title"] = "Check";
}
@model caffetogo.Models.Check
<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="~/css/check.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" src="~/favicon.ico">
</head>
<body class='movingBackground'>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">
        @{
            if (Model.message != null)
            {
                <text>
                                        $(window).on('load', function() {
                                            $('#alert').modal('show');
                                        });
                </text>

            }
        }
    </script>
    <div class="modal" id="alert" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <img src="~/logo.png" id="modalpicture">
                </div>
                <div class="modal-body">
                    <p>@Model.message</p>
                </div>
                <div class="modal-footer">            
                    <button id="thebutton"data-dismiss="modal">Bezárás</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        const list = [];
        function WriteOut()
        {
        @{
            foreach (string item in Model.Cart.Split(','))
            {
                <text>
                            list.push(@Convert.ToInt32(item));
                </text>
            }
        }
            console.log(list[0]);
            var listnum=[]
            var listitem=[]
            for(let i=0;i<list.length;i++)
            {
                var check=false;
                if(listitem.length>0)
                {
                    for(let j=0;j<listitem.length;j++)
                    {
                        if(list[i]==listitem[j])
                        {
                            listnum[j]++;
                            check=true;
                        }
                    }
                }
                if(check==false)
                {
                    listitem.push(list[i]);
                    listnum.push(1);
                }
            }
            document.getElementById("asd").innerHTML="";
            const namelist=[];
            const pricelist=[];
            const idlist=[];
        @foreach (Product item in @Model.Products)
        {
            <text>
                                                     namelist.push('@(item.item)');
                                                     pricelist.push('@(item.price)');
                                                     idlist.push('@(item.Id)');
            </text>
        }
            var sum=0;
            if(list.length>0)
            {
                for(let i=0;i<listitem.length;i++)
                {
                    for(let j=0;j<idlist.length;j++)
                    {
                        if(listitem[i]==idlist[j])
                        {
                            sum+=listnum[i]*pricelist[j];
                            document.getElementById("asd").innerHTML+="<p>"+listnum[i]+" db "+namelist[j]+" "+listnum[i]*pricelist[j]+" Ft</p>";
                        }
                    }
                }
            document.getElementById("asd").innerHTML+='<p>Összesen: '+sum+" Ft</p>";
            }
        }
    </script>
    <div class="container-fluid" id="collection">
        <div class="row">
            <div class="left">
                <button class="btn" onclick="window.print()">Nyomtatás</button>
                <form method="post" asp-antiforgery="true" asp-action="CreateBuy">
                    <input name="Items" type="hidden" value=@Model.Cart>
                    <input name="UserId" type="hidden" value=@Model.Id>
                    <input type="submit" class="btn" value="Fizetés">
                </form>
            </div>
            <div class="main">
                <img src="~/logo.png">
                <div id="asd">
                    <script>
                        WriteOut();
                    </script>
                </div>
            </div>
            <div class="right">
            </div>
        </div>
    </div>
</body>
</html>