@using System.Web
@model caffetogo.Models.index
@{
    ViewData["Title"] = "Shop";
}
<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/index.css">
    <link rel="icon" src="~/favicon.ico">
    <title>@ViewData["Title"]</title>

</head>
<body class="movingBackground">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        @{
            if (Model.message != null)
            {
                <text>
                            $(window).on('load', function() {
                            $('#alert').modal('show');
                            });
                </text>
            }
        }
    </script>
    <div class="modal" id="alert" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <img src="~/logo.png" id="modalpicture">
                </div>
                <div class="modal-body">
                    <p>@HttpUtility.UrlDecode(@Model.message)</p>
                </div>
                <div class="modal-footer">
                    <button id="thebutton" data-dismiss="modal">Bezárás</button>
                </div>
            </div>
        </div>
    </div>
    <header>
        <div class="header">
            <table class="headtable">
                <tr>
                    <td id="hr1">
                        <img src="~/logo.png" id="logo" alt="logo">
                    </td>
                    <td id="hr2">
                        <h1>Cafe to go</h1>
                    </td>
                    <td id="hr3">
                        <a id="but" asp-controller="Home" asp-action="Login">@HttpUtility.UrlDecode(@Model.Email)</a>
                    </td>
                </tr>
            </table>
        </div>
    </header>
    <main>
        <div class="container-fluid">
            <div class="row">
                <div style="border-right: 5px solid rgb(255, 136, 0); height:auto;" class="col-lg-4">
                    <div id="asd" class="card">
                        <!--container left-->

                    </div>
                </div>


                <!--container right-->
                <div style="padding: 15px;" class="col-lg-8">

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">

                                <div class="card-decks">

                                    <div class="card-group">


                                        <div class="row row-cols-1 row-cols-md-4">
                                            @foreach (Product item in Model.product)
                                            {
                                                <div class="col mb-4">
                                                    <div class="card">

                                                        <img class="card-img-top" src="~/@item.item-.png" alt="@item.item-.png">
                                                        <div class="card-body">
                                                            <h5 class="card-title">@item.item</h5>
                                                            <p class="card-text">@item.price Ft</p>
                                                            <p class="card-text">
                                                                <table id="card-table">
                                                                    <tr>
                                                                        <td>
                                                                            <button onclick="AddToCart(@item.Id)" id="card-button">+</button>
                                                                        </td>
                                                                        <td>
                                                                            <button onclick="RemoveFromCart(@item.Id)" id="card-button">-</button>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script type="text/javascript">
                var list = []
                function WriteOut()
                {
                    var listnum=[]
                    var listitem=[]
                    for(let i=0;i<list.length;i++)
                    {
                        var check=false;
                        if(listitem.length>0)
                        {
                            for(let j=0;j<listitem.length;j++)
                            {
                                if(list[i]==listitem[j])
                                {
                                    listnum[j]++;
                                    check=true;
                                }
                            }
                        }
                        if(check==false)
                        {
                            listitem.push(list[i]);
                            listnum.push(1);
                        }
                    }
                    document.getElementById("asd").innerHTML="";
                    const namelist=[];
                    const pricelist=[];
                    const idlist=[];
        @foreach (Product item in @Model.product)
        {
            <text>
                           namelist.push('@(item.item)');
                           pricelist.push('@(item.price)');
                           idlist.push('@(item.Id)');
            </text>
        }
                    var sum=0;
                    if(list.length>0)
                    {

                for(let i=0;i<listitem.length;i++)
                {
                for(let j=0;j<idlist.length;j++)
                {
                if(listitem[i]==idlist[j])
                {
                if(sum==0)
                {
                sum+=listnum[i]*pricelist[j];
                document.getElementById("asd").innerHTML+="<p></p><p id='gen'>"+listnum[i]+" db "+namelist[j]+" "+listnum[i]*pricelist[j]+" Ft</p>";
                }
                else
                {
                sum+=listnum[i]*pricelist[j];
                document.getElementById("asd").innerHTML+="<hr><p id='gen'>"+listnum[i]+" db "+namelist[j]+" "+listnum[i]*pricelist[j]+" Ft</p>";
                }
                }
                }
                }
                document.getElementById("asd").innerHTML+='<hr id="boldline"><p id="gensum">Összesen: '+sum+" Ft</p>";
                }
        @{
            if (@Model.loggedin)
            {
                <text>
                                 document.getElementById("asd").innerHTML+='<form asp-antiforgery="true" method="post" asp-action="Check" enctype="multipart/form-data"><input name="Cart" id="Cart" type="hidden"><input name="Id" id="Id" type="hidden"><input name="Email" type="hidden" value="@HttpUtility.UrlDecode(@Model.Email)"><input type="submit" id="thebutton" value="Fizetés"></form>'
                </text>
            }
        }
                }
                function AddToCart(id)
                {
                    var text="";
                    list.push(Number(id));
                    WriteOut();
                    text+=list[0];
                    for(let i=1;i<list.length;i++)
                    {
                        text+=",";
                        text+=list[i];
                    }
        @{
            if (@Model.loggedin)
            {
                <text>
                            document.getElementById("Cart").value=text;
                            document.getElementById("Id").value=@Convert.ToInt32(HttpUtility.UrlDecode(@Model.id));
                </text>
            }
        }
                }
                function RemoveFromCart(id)
                {
                var igen=false;
                for (let i = 0; i < list.length; i++)
                {
                if (list[i] == Number(id) && igen==false) {
                list.splice(i,1)
                igen=true;
                }
                }
                WriteOut();
                var text="";
                if(list.length>0)
                {
                text+=list[0];
                for(let i=1;i<list.length;i++)
                {
                text+=",";
                text+=list[i];
                }
                }
        @{
            if (@Model.loggedin)
            {
                <text>
                                    document.getElementById("Cart").value=text;
                                    document.getElementById("Id").value=@Convert.ToInt32(HttpUtility.UrlDecode(@Model.id));
                </text>
            }
        }
                }
    </script>
</body>
</html>